<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.label{color:#FFFFFF}
</style>
</head>
<body class="p-3 mb-2" style="background:#0F334D">
<div class="container">
<h3 class="label">Reset your password</h3>
    <form action="#" th:action="@{/resetpasswordform}" method="post">
    	<div class="form-group">
    	<label class="label">Email address</label> 
    		<input type="text" name="email" required="required" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"/>
 	</div>
         	<div class="form-group">
         <input type="submit" value="Submit" class="btn btn-danger" style="background-color: #FF4081"/>
    </div>
    </form>
  </div>
</body>
</html>